<div class="action-links flex items-center justify-around py-4">
     <div class="link1">
          <%= link_to fa_icon("eye", class: "text-blue-500 text-xl"), user_post_path(post.user, post) %>
     </div>
     <% if user_signed_in? %>
          <div class="link2">
               <%= link_to fa_icon("edit", class: "text-gray-500 text-xl"), edit_user_post_path(post.user, post) if current_user.posts.include?(post) %>
          </div>
          <div class="link3">
               <%= link_to fa_icon("times", class: "text-red-500 text-xl"), user_post_path(post.user, post), method: :delete, data: { confirm: "Are you sure?" } if current_user.posts.include?(post) %>
          </div>
     <% end %>
</div>

