<% if user_signed_in? %>
     <%= link_to "New Post", new_user_post_path(current_user) if !current_user.nil? %>
<% end %>
<ul>
     <% @posts.each do |post| %>
          <li><%= render partial: "posts/shared/meme_post", locals: { post: post } %></li>
          <%= render partial: "posts/shared/edit_or_delete", locals: { post: post } %>
     <% end %>
</ul>