<h1>Show Page for <%= @user.email %></h1>
<% if @user == current_user%>
     <%= link_to "New Post", new_user_post_path(@user) %>
     <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
<% end %>