/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.user-body-wrapper {
     grid-template-columns: 1fr 3fr 1fr;
     grid-column-gap: 25px;
}

.user-nav {
     min-width: 600px;
}

.recent-activity {
     min-width: 225px;
     height: 100vh;
}

.my-posts {
     grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
     grid-gap: 15px;
     min-width: 400px;
}